body{

	font-family: "Univers";
	font-weight: 400;
// 	font-size:;
// 	line-height: ;
// 	margin:;



}



a{
text-decoration: none;
}

.type--large{
	font-weight:700;
}

// .container{
// 	height:;
// 	width:;
// }

// .container__main{
// }

// .wrapper{
// }

// .section{
// }

// .section--header{
// }

// .title{
// }

ul{
	list-style: none;
	margin: 0;
  	padding:0;
}

// @media (max-width: xxxpx){
	
// }