body{

	font-family: "Univers";
	font-weight: 400;
	font-size: 4.5vw;
// 	line-height: ;
// 	margin:;

}

p{
	margin:0;
}

a{
	text-decoration: none;
}

.type--large{
	font-weight:700;
}

.container{
	margin: 4.5vw;
	overflow: hidden;
}

// .container__main{
// }

// .wrapper{
// }

// .section{
// }

// .section--header{
// }

// .title{
// }

ul{
	list-style: none;
	margin: 0;
  	padding:0;
}

// @media (max-width: xxxpx){
	
// }